# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.libsvm

# Ignore compiled Python files inside any folder
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore data directory inside Experiments
Experiments/data/
